*{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* background-color: #a1f0de; */
}

.heading{
    width: 100%;
    background-color: #1B705C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}
.heading h1{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: antiquewhite; */
    height: 6%;
}
input{
    margin-top: 30px;
    width: 80%;
    padding: 14px;
    border: 1px solid #a1f0de;
    border-radius: 8px 0px 0px 8px;
    outline: none;
    /* background-color: #f6fffd; */

}
input:hover{
    box-shadow: 0px 0px 8px lightblue;
}

.btn{
    padding: 12px 30px;
    border-radius: 0px 8px 8px 0px;
    background-color: #298f77;
}
.btn:hover{
    background-color: #1B705C;
    transition: 0.5s;
}

.result{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 94%;
    height: 75%;
}
.show-books{
    margin-top: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #298f77; */
}

.book{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    flex-direction: column;
    flex-wrap: wrap;
    height: 46%;
    width: 16%;
    margin: 10px;
    border-radius: 10px;
    /* border: 1px solid #298f77; */
    box-shadow: 0px 0px 6px #a1f0de;
    cursor: pointer;
    transition: 0.5s;
}
.book:hover{
    transform: scale(1.1);
}
h3{
    text-align: center;
    margin: 12px 0px 14px 0px;
    color: #1B705C;
}
h5{
    text-align: center;
}
img{
    /* box-shadow: 0px 0px 6px #1B705C; */
    border: 1px solid #a1f0de;
    padding: 8px;
    border-radius: 8px;
    transition: 0.5s;
}
img:hover{
    transform: scale(1.1);
}